<div class="model-div">
  <div class="model-div-title">
    <h1>Search Results</h1>
    <%= button_to "Back to All Staff", staffs_path, method: :get, class:"btn btn-default btn-large model-actions-add" %>
  </div>
  <% if @staffs.count > 0 %>
    <%= render 'staffs/list' %>
  <% else %>
      <div class="row model-div-content">
        <h2 style="text-align:center;">No staff were found. Please try searching again.</h2>
      </div>
  <% end %>
</div>