<div class="footer-div">
    <% if !current_page?(root_url)%>
        <p style="float:left; padding-left: 10px;"><%= link_to 'Back to Home', root_path %></p>
    <% end %>
    <p style="text-align:right; padding-right: 10px;">&copy; Yong, Tan & Co Chartered Accountants</p>
</div>