<div class="content-div">
  <div class="content-div-img about">
  </div>
  <div class="content-div-text">
    <h2>About Us</h2>
    <p>
      This website uses the following technologies: <br/>
      HTML and CSS (Front-end) <br/>
      Ruby on Rails (Back-end) <br/>
      Git (Version control) <br/>
      Github (Repository) <br/>
      Heroku (For deployment to production) <br/>
      Sendgrid (Email functionality) <br/>
      In addition, some of the Ruby gems used were: <br/>
      twitter-bootstrap-rails (Bootstrap styling) <br/>
      devise (Authencation system) <br/>
      carrierwave, mini_magick and fog (File upload and image resizing) 
    </p>
  </div>
</div>