<div class="content-div">
  <div class="content-div-img apply"></div>
    <div class="content-div-text">
      <h2>How To Apply</h2>
      <p>
        Some text here about how to apply <br/>
      </p>
  </div>
</div>