<div class="content-div">
    <div class="content-div-img apply">
    </div>
    <div class="content-div-text">
        <h2>How To Apply</h2>
        <p>
            Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
            Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
            Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
            Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
        </p>
    </div>
</div>