<div class="content-div">
  <div class="content-div-img audit_and_assurance"></div>
    <div class="content-div-text">
      <h2>Audit and Assurance Services</h2>
      <p>
        Some text here about audit and assurance services<br/>
      </p>
  </div>
</div>