<div class="content-div">
  <div class="content-div-img bookkeeping"></div>
    <div class="content-div-text">
      <h2>Bookkeeping Services</h2>
      <p>
        Some text here about bookkeeping services<br/>
      </p>
  </div>
</div>