<div class="content-div">
  <div class="content-div-img consulting"></div>
    <div class="content-div-text">
      <h2>Consultation Services</h2>
      <p>
        Some text here about consultation services<br/>
      </p>
  </div>
</div>