<div class="content-div">
  <div class="content-div-img contact"></div>
  <div class="content-div-text">
    <h2>Contact Us</h2>
    <p>We can be found at several branches across Malaysia <br/>
       Kota Kinabalu: Lintas Area <br/>
       Keningau: CBD Area <br/>
       Some Other Places that I can't remember <br/> <br/>
       More interestingly, the web developer can be found at the following; <br/>
       Facebook: <a href="https://www.facebook.com/BrandonYongChiChuen" target="_blank">https://www.facebook.com/BrandonYongChiChuen</a> <br/>
       Personal Blog: Coming Soon! Being written with React and NodeJS <br/>
       Email: brendanyong2013@gmail.com
    </p>
  </div>
</div>