<div class="content-div">
  <div class="content-div-img graduates"></div>
    <div class="content-div-text">
      <h2>Information for Graduates</h2>
      <p>
        Some info here for graduates <br/>
      </p>
  </div>
</div>