<div class="image-div">
    <%= render 'pages/slider' %>
</div>
<div class="row home-content home-content-top">
    <div class="col-md-4 home-content-div-img">
    </div>
    <div class="col-md-8 home-content-div-text">
        <h2>Experienced and Professionally Qualifed</h2>
        <p>Yong, Tan & Co is one of the oldest accounting firms in Kota Kinabalu. We've been operating for almost 50 years and have a trusted client base.</p>
    </div>
</div>
<div class="row home-content">
    <div class="col-md-4 home-content-div-img">
    </div>
    <div class="col-md-8 home-content-div-text">
        <h2>Comprehensive Services</h2>
        <p>Yong, Tan & Co offers every service you might need. Everything from Taxation, Assurance and Audit and Bookeeping.</p>
    </div>
</div>
<div class="row home-content">
    <div class="col-md-4 home-content-div-img">
    </div>
    <div class="col-md-8 home-content-div-text">
        <h2>24/7 Live Updates</h2>
        <p>You can log in at anytime and check the progress of your financial statements. You can check if there's any information required pending, such as a reply from the bank or a debtor.</p>
    </div>
</div>


