<div class="content-div">
  <div class="content-div-img taxation"></div>
    <div class="content-div-text">
      <h2>Taxation Services</h2>
      <p>
        Some text here about taxation services<br/>
      </p>
  </div>
</div>