<div class="content-div">
  <div class="content-div-img updates"></div>
    <div class="content-div-text">
      <h2>Client Updates</h2>
      <p>
        Text here promoting how clients can get updates on the progress of their financial documents<br/>
      </p>
  </div>
</div>