<div class="content-div">
  <div class="content-div-img why_you_should_choose_us"></div>
    <div class="content-div-text">
      <h2>Why You Should Choose Us</h2>
      <p>
        Some text here explaining company's selling points <br/>
      </p>
  </div>
</div>